@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap');

:root {
  --clr-accent-400: #AC3B61;
  --clr-accent-100: #BAB2B5;

  --clr-primary-400: #EDC7B7;

  --clr-neutral-100: #EEE2DC;
  --clr-neutral-900: #123C69;
}

/* modern css reset: https://piccalil.li/blog/a-modern-css-reset/ */
/* box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* remove list styles on ul */
ul[role="list"] {
  list-style: none;
}

html,
body {
  height: 100%;
}

li, a, button {
    text-decoration: none; 
    color: var(--clr-neutral-900);
}

body {
	background-color: var(--clr-neutral-100);
	color: var(--clr-neutral-900);
	font-family: 'Rubik', sans-serif;
	font-weight: 400;
}

header {
	background-color: var(--clr-primary-400);
	text-align: center;
	position: fixed;
	z-index: 999;
	width: 100%;
	filter: drop-shadow(0 5px 10px var(--clr-accent-100));
}

.logo {
	padding: 1em 1em;
	font-weight: 600;
}


nav {
	position: absolute;
	text-align: left;
	top: 100%;
	left: 0;
	background: var(--clr-primary-400);
	width: 100%;
	transform: scale(1, 0);
	transform-origin: top;
	transition: transform 300ms ease-in-out;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	margin-bottom: 1em;
	margin-left: 1em;
	opacity: 0;
	transition: opacity 150ms ease-in-out;
}
nav button {
	margin-bottom: 1em;
	margin-left: 1em;
	opacity: 0;
	transition: opacity 150ms ease-in-out;
}

nav a {
    color: var(--clr-neutral-900);
	font-size: 1.2rem;
}

nav a:hover {
	color: var(--clr-accent-400);
}

.nav-toggle {
	display: none;
}

.nav-toggle:checked ~ nav {
	transform: scale(1, 1);
}

.nav-toggle:checked ~ nav li{
	opacity: 1;
	transition: opacity 200ms ease-in-out 200ms;
}

.nav-toggle:checked ~ nav button{
	opacity: 1;
	transition: opacity 200ms ease-in-out 200ms;
}

.nav-toggle-label {
	position: absolute;
	top: 0;
	left: 0;
	margin-left: 1em;
	height: 100%;
	display: flex;
	align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
	display: block;
	background: white;
	height: 2px;
	width: 2em;
	border-radius: 2px;
	position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
	content: '';
	position: absolute;
}
.nav-toggle-label span::before {
	bottom: 7px;
}

.nav-toggle-label span::after {
	top: 7px;
}


@media screen and (min-width: 600px){
	.nav-toggle-label {
		display: none;
	}

	header {
		display: grid;
		grid-template-columns: 1fr auto minmax(600px, 5fr) 1fr;
	}

	.logo {
		grid-column: 2 / 3;
	}

	nav {
		all: unset;
		grid-column: 3 / 4;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}
	
	nav ul {
		display: flex;
	}

	nav li {
		opacity: 1;
		margin-left: 3em;
		margin-bottom: 0;
	}

	nav button {
		opacity: 1;
		margin-left: 3em;
		margin-bottom: -4px;
	}

	nav a::before {
		content: '';
		display: block;
		height: 4px;
		background: var(--clr-accent-400);
		position: relative;
		top: -0.1em;
		transform: scale(0, 1);
		transition: transform ease-in-out 200ms;
	}

	nav a:hover::before {
		transform: scale(1,1);
	}
}

button {
    padding: 6px 10px;
    background-color: rgba(172, 59, 97,1);
    color: var(--clr-neutral-100);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(172, 59, 97,0.5);
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: var(--clr-primary-400);
	text-align: center;
}

section {
	display: grid;
	place-items: center;
	align-content: center;
	min-height: 100vh;
}


.grid-container {
	display: grid;
	/* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
	grid-template-columns: auto auto;
	gap: 30px;
	padding: 50px 190px;
	text-align: center;
}
