{% load static %}
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'style.css' %}" />
	<title>Chess Website</title>
</head>

<body>
	<nav>
		<img src="" alt="logo">
		<a href="#" class="toggle-button">
			<span class="bar"></span>
			<span class="bar"></span>
			<span class="bar"></span>
		</a>
		<ul class="nav-links">
			<li><a href="#">HOME</a></li>
			<li><a href="#">CREATE</a></li>
			<li><a href="#">SHOW</a></li>
			<li><button href="#">LOGIN</button></li>
		</ul>
	</nav>
	{% block content %}
	{% endblock content %}
	<footer>
		footer
	</footer>
</body>

</html>
