{% load static %}
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'style.css' %}" />
	<title>Chess Website</title>
</head>

<body>
	<header>
		<!-- <img src="" alt="Logo"> -->
		<h1 class="logo">Logo</h1>
		<input type="checkbox" class="nav-toggle" id="nav-toggle">
		<nav class="text-nav">
			<ul>
				<li><a href="{% url 'tournaments:index' %}">HOME</a></li>
				<li><a href="{% url 'tournaments:brackets' %}">BRACKETS</a></li>
				<li><a href="#">SHOW</a></li>
			</ul>
				<a class="button" href="{% url 'login:login' %}">LOGIN</a>
		</nav>
		<label for="nav-toggle" class="nav-toggle-label">
			<span></span>
		</label>
	</header>
	<div class="spacer"></div>
	<div>
	{% block content %}

	{% endblock content %}
	</div>
	<footer>
		footer
	</footer>
</body>

</html>
