{% extends 'tournaments/base.html' %}
{% block content %}

<section>
	<table>
		<thead>
			<tr>
				<th>Tournament Name</th>
				<th>Number Of Players</th>
				<th>Date</th>
				<th>Options</th>
			</tr>
		</thead>
		<tbody>
			{% if brackets %}
			{% for bracket, len in brackets%}
			<tr>
				<td scope="row"> {{bracket.name}}</td>
				<td> {{len}}</td>
				<td> {{bracket.date}}</td>
				<td><a class="button" href="{% url 'tournaments:bracket' id=bracket.id %}">Edit</a>
				<a class="button" href="{% url 'tournaments:rounds' id=bracket.id round=0%}">Rounds</a></td>
				{% endfor %}
			</tr>
			{% else %}
			<p>Empty</p>
			{% endif %}
		</tbody>
	</table>
	<a class="button btn-form" href="{% url 'tournaments:add_bracket' %}">Add</a>
</section>

{% endblock content %}
