{% extends 'tournaments/base.html' %}

{% block content %}
<section>
		<h2>HELLO</h2>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta architecto incidunt reiciendis cum perferendis, esse consectetur sint corrupti sed explicabo eaque impedit, dolores, dignissimos quasi non ipsa saepe provident mollitia!</p>
</section>

<section>
		<h2>HELLO</h2>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta architecto incidunt reiciendis cum perferendis, esse consectetur sint corrupti sed explicabo eaque impedit, dolores, dignissimos quasi non ipsa saepe provident mollitia!</p>
</section>
{% endblock content %}
