{% extends 'tournaments/base.html' %}

{% block content %}
<body class="bg-img">
<div class="home-text">
	
<h2 class="big-text center">Chess Tournaments</h2> 
<div class="text center"
		<p>This website used to create or to look for chess tournaments. Click on tournaments to see list of them.</p>
</div>

<section></section>

<section class="text">
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta architecto incidunt reiciendis cum perferendis, esse consectetur sint corrupti sed explicabo eaque impedit, dolores, dignissimos quasi non ipsa saepe provident mollitia!</p>
</section>
</div>
</body>
{% endblock content %}
