{% extends 'tournaments/base.html' %}
{% block content %}
{% load tags %}

<section>
	<h2>Round: {{ rd }}</h2>
	<div class="form-inline">
		<table>
			<thead>
				<tr>
					<th><a href="/brackets/table/{{bracket.id}}?sort=name">Name</a></th>
					<th><a href="/brackets/table/{{bracket.id}}?sort=last_name">Last name</a></th>
					<th><a href="/brackets/table/{{bracket.id}}?sort=age">Age</a></th>
					<th><a href="/brackets/table/{{bracket.id}}?sort=rating">Rating</a></th>
					<th><a href="/brackets/table/{{bracket.id}}?sort=score">Score</a></th>
				</tr>
			</thead>
			<tbody>
				{% for player in first_half %} <tr>
					<td scope="row"> {{player.name}}</td>
					<td> {{player.last_name}}</td>
					<td> {{player.age}}</td>
					<td> {{player.rating}}</td>
					<td> {{player.score_round}}</td>
					{% endfor %}
				</tr>
			</tbody>
		</table>
		<table>
			<thead>
				<tr>
					<th><a href="/brackets/table/{{bracket.id}}?sort=score">Score</a></th>
					<th><a href="/brackets/table/{{bracket.id}}?sort=rating">Rating</a></th>
					<th><a href="/brackets/table/{{bracket.id}}?sort=age">Age</a></th>
					<th><a href="/brackets/table/{{bracket.id}}?sort=last_name">Last name</a></th>
					<th><a href="/brackets/table/{{bracket.id}}?sort=name">Name</a></th>
				</tr>
			</thead>
			<tbody>
				{% for player in second_half %} <tr>
					<td scope="row"> {{player.score_round}}</td>
					<td> {{player.rating}}</td>
					<td> {{player.age}}</td>
					<td> {{player.last_name}}</td>
					<td> {{player.name}}</td>
					{% endfor %}
				</tr>
			</tbody>
		</table>
	</div>
	<div class="inline-container">
		<a class="button btn-form" href="{% url 'tournaments:rounds' id=bracket.id round=0 %}">0</a>
		<a class="button btn-form" href="{% url 'tournaments:rounds' id=bracket.id round=1%}">1</a>
		<a class="button btn-form" href="{% url 'tournaments:rounds' id=bracket.id round=2%}">2</a>
		{% if perms.tournament.moderator %}
		<a class="button btn-form" href="{% url 'tournaments:edit_rounds' id=bracket.id round=rd%}">update score</a>
		{% endif %}
	</div>
	<div class="break"></div>
<!--	<div>-->
<!--		<form action="" method=POST>-->
<!--			{% csrf_token %}-->
<!--			<button class="btn-form" type="submit">save db</button>-->
<!--		</form>-->
<!--	</div>-->
</section>

{% endblock content %}
